body{
    background-color: red;
}

/* navigation */

.navigation{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.navigation a:hover{
    color: #3984ff;
}
.navImage{
    width: 7em;
}
.languageIcon{
    width: 1em;
}
.lower{
    display: none;
}
button.lowerButton{
    display: none;
}
.end{
    display: flex;
    gap: 1em;
    align-items: center;
}

/* main */

main{
    position: relative;
    top: 0em;
    color: white;
    background-color: #1F1819;
    overflow: hidden;
}

/* main head  */
.mainHead{
    font-size: 1.1em;
    font-weight: 400;
    word-spacing: -0.1em;
    margin-bottom: 5em;
    font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.mainHead h2{
    font-size: 3em;
    line-height: 1em;
    margin-top: 3em;
}
.main-1-button{
    background-color: #3984ff;
    border: 1em solid #3984ff;
    border-radius: 15px;
    color: black;
    gap: 1em;
    transition: gap 0.3s ease-in;
}
.main-1-button:hover{
    background-color: #4A8FFD;
    border: 1 solid #4A8FFD;
    gap: 2em;
    transition: gap 0.3s ease-in;
}
.main-1-button p{
    font-size: 17px;
    font-weight: 500;
}
.form{
    width: 100%;
    gap: 1em;
    display: flex;
    justify-content: center;
}
.form input{
    background-color: transparent;
    border: 0.1em solid #666058;
    box-sizing: border-box;
    font-size: 1.02em;
    width: 19em;
    font-weight: 500;
    color: #fff;
    height: 3em;
}
.form::placeholder {
    color: #ADB2AC;
    opacity: 1; 
}
.form button{
    background-color: transparent;
    border: 0.1em solid #fff;
    border-radius: 1em;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.02em;
    font-weight: 500;
    height: 3em;
    padding: 1em;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main video  */

#myVideo{
    width: 100%;
    padding: 2em;
}

/* sub heading  */

.subHead{
    width: 100%;
    padding: 1em 1em;
}
.subHead h2{
    font-size: 2.5em;
    font-weight: 500;
    font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai", "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* cards  */
.cards{
    padding: 5em 10em;
    font-size: 1em;
}

/* beta heading  */
  
.betaHead{
    padding: 0px 0em;
    margin: 0em 0em;
    font-size: 1.12em;
    font-weight: 400;
    word-spacing: -0.1em;
    font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}  
.betaHead h2{
    font-size: 2em;
}

/* dash Image  */

.dashImage{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dashImage img{
    width: 50%;
    margin: 5% 0em 5% 0;
}

/* card */
.main-8{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 100%;
    overflow: hidden;
    margin: 72px 0%;
    gap: 25px;
}
.main-8-1{
    overflow: hidden;
    background-color: #2b2929;
}
.main-8 img{
    max-width: 100%;
    height: auto;
}
.main-8-2{
    overflow: hidden;
    background-color: #2b2929;
}
.content1{
    margin: 36px 47px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
.content1 h2{
    font-weight: 450;
    word-spacing: 2px;
    font-size: 27px;
}
.content1 p{
    font-size: 17px;
    margin-top: 20px;
    line-height: 25px;
}

.main-10{
    display: flex;
    gap:70px;
    margin: -20px 170px 80px;
    font-size: 17px;
    font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai", "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.main-10 h2{
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 1.5px;
    font-size: 40px;
    line-height: 70px;
}
.main-10 h3{
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    font-size: 20px;
    line-height: 40px;
}
.main-10-1{
    margin-top: 4px;
}

/* carousel  */
.cc{
    background-color: black;
}
.itemContainer{
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 0% 12%;
}
.main-11-image{
    width: 100%;
}
.main-11-image img{
    width: 100%;
}

/* last heading  */

.main-12{
    background-color: #1e1919;
    display: flex;
    padding: 70px 140px 65px;
    justify-content: space-between;
}
.main-12 h2{
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: 1.5px;
    font-size: 48px;
    font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai", "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* footer  */
footer{
    background-color: black;
    color: white;
    padding: 5em 0;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer a{
    text-decoration: none;
    color: white;
}
.col-12 i{
    margin-left: 1em;
    font-size: 1.3em;
}
.seperator{
    background-color: #393736;
    width: 10em;
    height: 0.1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (max-width:768px) {
    .navigation{
        padding-bottom: 0em;
        padding-top: 0em;
    }
    .end button:nth-of-type(1){
        display: none;
    }
    button.lowerButton{
        display: block;
        width: 100%;
    }
    .mainHead{
        padding:4em;
        font-size: 0.9em;
        font-weight: 400;
        word-spacing: -0.1em;
        margin-bottom: 0em;
        font-family: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .mainHead h2{ 
        margin-top: 1em;
    }
    .form button{
        width: 100%;
    }
    .form input{
        width: 100%;
    }
    .subHead h2{
        font-size: 1.5em;
    }
    .cards{
        font-size: 0.8em;
        padding: 5em 5em;
    }
    .main-8{
        margin: 72px 1%;
    }
    .main-10{
        display: block;
        margin: -20px 5em 80px;
        font-size: 17px;
        font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai", "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .main-10 h2{
        font-weight: 600;
        word-spacing: 1px;
        letter-spacing: 1px;
        font-size: 30px;
        line-height: 50px;
    }
    .main-10 h3{
        font-weight: 600;
        word-spacing: 0.5px;
        letter-spacing: 0px;
        font-size: 15px;
        line-height: 30px;
    }
    .main-10-1{
        margin-top: 2px;
    }
    .main-11-image img{
        width: 100%;
    }
    .main-11-explanation{
        font-size: 0.5em;
    }
    
    .main-12{
        background-color: #1e1919;
        display: block;
        padding: 35px 70px 32px;
    }
    .main-12 h2{
        font-weight: 500;
        word-spacing: 2px;
        letter-spacing: 1.5px;
        font-size: 30px;
        font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai", "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    
}
@media (min-width:992px) {
    .end{
        display: none;
    }
    .lower{
        display: block;
    }
    button.lowerButton{
        display: block;
    }
    .betaHead{
        padding: 0px 15em;
        margin: 1em 0em;
    }
    .main-8{
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        overflow: hidden;
        margin: 72px 0;
        gap: 25px;
    }
    .main-8-1{
        max-width: 50%;
        overflow: hidden;
        background-color: #2b2929;
    }
    .main-8-2{
        max-width: 50%;
        overflow: hidden;
        background-color: #2b2929;
    }
    .main-11-image img{
        width: 50%;
    }
}
